
  @media screen and (max-width: 560px) {
    .mustafiz-mobile{
        /* margin-top: 10px;
        width: 60px;
        height: 80px;
        margin-bottom: 10px;
        margin-left: 0%; */
    
    }
}